@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    height: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}
video {
    width: 560px;
    height: 600px;
}
#audio-player {
    width: 300px;
    margin-bottom: 20px;
}
.controls {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.buttons {
    padding: 10px;
    font-family: "Press Start 2P", system-ui;
    display: flex;
    justify-content: space-between;
    width: 300px;
    cursor: pointer;
    
}
h1{
    color: #ffff;
    font-family: "Press Start 2P", system-ui;
    font-size: 30px;
    font-weight: 400;
}