body {
    height: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}
video {
    width: 560px;
    height: 600px;
}
#audio-player {
    width: 300px;
    margin-bottom: 20px;
}
.controls {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}